:root {
  --primary-color: #ff66cc;
  --secondary-color: #444;
  --bg-color: #fff;
  --text-color: #444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222;
    --text-color: #ddd;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

a {
  color: var(--bg-color);
  text-decoration: none;
}

/* Login component styles */
.max-w-500 {
  max-width: 500px;
}

.text-pink-600 {
  color: var(--primary-color);
}

.border-gray-900 {
  border-color: var(--secondary-color);
}

.text-gray-700 {
  color: #777;
}

button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #fff;
  color: var(--primary-color);
}

/* NavBar component styles */
.bg-slate- {
  background-color: var(--secondary-color);
}

.text-pink-700 {
  color: var(--primary-color);
}

nav {
  position: absolute;
  right: 8px;
}

.bg-yellow-200 {
  background-color: #ffcc66;
}

.rounded-md {
  border-radius: 5px;
}

/* SignUpForm component styles */
input[type="text"],
input[type="password"] {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mb-1 {
  margin-bottom: 10px;
}

.text-xl {
  font-size: 24px;
}

.w-full {
  width: 100%;
}

/* Media queries */
@media screen and (max-width: 600px) {
  .max-w-500 {
    width: 100%;
  }
}
